<%- include("./partials/header") %>
<h1><%=title%></h1>
<table class="table table-sm">
    <%if(data.length > 0){%>
        <thead><tr>
            <%data[0].forEach((field)=>{%>
                <th><%=field%></th>
            <%});%>
        </tr></thead>
    <%}%>
    <tbody>
    <% for (var i=1; i<data.length; i++){ %>
        <tr>
            <% for (var j=0; j<data[i].length; j++){ %>
                <td><%=data[i][j]%></td>
            <% } %>
        </tr>
    <% } %>
    </tbody>
</table>
<%- include("./partials/footer") %>